*{
  margin: 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  font-family: roboto;
}

.bold{
  font-weight: bold;
}

.doto {
  font-family: doto;
}

.underline {
	text-decoration: underline;
}

@keyframes neonize {
  from {
    text-shadow:
     0 0 4px #fff,
     0 0 10px #fff,
     0 0 30px #ff68f0,
     0 0 50px #ff68f0,
     0 0 70px #ff68f0,
     0 0 90px #ff68f0;
  }
  to {
    text-shadow: 
    0 0 2px #fff,
    0 0 5px #fff,
    0 0 15px #ff68f0,
    0 0 25px #ff68f0,
    0 0 35px #ff68f0,
    0 0 45px #ff68f0;
  }
}

#logo {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 30px;
}



/*--- Header---*/



#header {
  width: 100%;
  height: 100vh;
}

#header-video {
  position: fixed;
  z-index: -3;
  right: 0;
  bottom: 0;

}

nav {
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#header li {
  display: inline;
  margin-right: 1.5rem;
}

#header a{
  font-size: 1.5rem;
  color: whitesmoke;
  font-family: Doto;
  text-decoration: none;
}

#header li a:hover {
  cursor: url(./Images/mouth-tongue-rolling-stones-pixel-art.png), auto;
  text-shadow:
     0 0 4px #fff,
     0 0 10px #fff,
     0 0 30px #ff00e6,
     0 0 50px #ff00e6,
     0 0 70px #ff00e6,
     0 0 90px #ff00e6;
}

#title {
	display: flex;
	align-items: end;
	width: 100%;
 height: 46.21%;
}

#title h1 {
	padding-left: 1rem;
  color: whitesmoke;   
	font-size: 8rem; 
  font-family: Doto;
  animation: neonize 1s ease-in-out infinite alternate;
}

#speech {
	width:100%;
	height:46.21% ;
	display: flex;
	justify-content: center;
	align-items: center;
	text-shadow: 4px 4px 4px black ;
}

#speech p {
  color: whitesmoke;
	align-self: end;
  font-size: 1.25rem;
}

@media only screen and (max-width:860px) {
	#logo {
		display: none;
	}
	#header ul {
		width: 100%;
		padding-top: 1rem;
		display: flex;
		justify-content: space-evenly;
	}
	#header li a {
		font-size: 2rem;
		font-weight: bold;
	}
}


/* ---Main---*/


#main{
  width: 100%;
  height: 100%;
  margin-top: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-color: #ebbce656;
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
}

#presentation {
  width: 50%;
  margin-top: 1rem;
  padding: 2rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#presentation p{
  text-align: justify;
  text-shadow: 2px 2px 2px black ;
  font-size: 1.15rem;
  line-height: 2rem;
}

#presentation img {
margin-top: 5rem;
}

#employees {
  width: 50%;
  padding: 2rem 1rem;
}

#employees h1 {
  font-size: 1.75rem;
  padding-left: 1rem;
  text-shadow:
     0 0 4px #fff,
     0 0 10px #fff,
     0 0 30px #00d0ff,
     0 0 50px #00d0ff,
     0 0 70px #00d0ff,
     0 0 90px #00d0ff;
}

.specialists {
  width: 100%;
  padding: 2rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.395), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

.specialists img {
  padding:1rem;
  height: 10rem;
  width:10rem;
  align-self: center;
  border-radius: 20px;
}

.specialists p {
  text-align: justify;
}

@media only screen and (max-width:860px){
	#presentation img {
		display: none;
	}
	#main {
		display: block;
	}
	#presentation {
		width: 100%;
		height: auto;
	}
	#employees {
		width: 100%;
	}
}

/* ---Footer---*/



#footer {
	width: 100%;
  height: 40rem;
	padding-top: 10rem;
  background-color: #ebbce656;
  background: linear-gradient(180deg, rgba(235,188,230,0.34) 0%, rgba(0,0,0,1) 50%);  
  color: whitesmoke;
  display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.contact {
	display: flex;
	width: 100%;
}

.contact p {
	align-self: center;
}

.maps{
	width: 50%;
	display: flex;
	justify-content: space-around;
}

.maps p{
	line-height: 2rem;
	padding-left: 1rem;
	border-left: 1px solid whitesmoke;
}

.maps .underline:hover {
		cursor: url(./Images/mouth-tongue-rolling-stones-pixel-art.png), auto;
		text-decoration: none;
		text-shadow:
		0 0 4px #fff,
		0 0 10px #fff,
		0 0 30px #ff00e6,
		0 0 50px #ff00e6,
		0 0 70px #ff00e6,
		0 0 90px #ff00e6;
}

.list {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.list ul li{
	display: flex;
	text-align: left;
	line-height: 2rem;
	padding-left: 1rem;
	border-left: 1px solid whitesmoke;
}

.list a {
	color: whitesmoke;
	text-decoration: none;
}

.list a:hover {
  cursor: url(./Images/mouth-tongue-rolling-stones-pixel-art.png), auto;
	text-shadow:
	0 0 4px #fff,
	0 0 10px #fff,
	0 0 30px #ff00e6,
	0 0 50px #ff00e6,
	0 0 70px #ff00e6,
	0 0 90px #ff00e6;
}

iframe {
	border-radius: 20px;
}

#social {
	width: 50%;
 background-color: black;
}

#social ul {
	display: flex;
	justify-content: space-around;
}

#social li {
	display: inline;
}

#social li:hover {
		cursor: url(./Images/mouth-tongue-rolling-stones-pixel-art.png), auto;
		text-shadow:
		0 0 4px #fff,
		0 0 10px #fff,
		0 0 30px #ff00e6,
		0 0 50px #ff00e6,
		0 0 70px #ff00e6,
		0 0 90px #ff00e6;
	}

	.copyright {
		color: whitesmoke;
		background-color: black;
	}

.copyright p {
	font-size: 0.75rem;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

@media only screen and (max-width:860px) {
	iframe {
		display: none;
	}
}
